<style type="text/css"> 
body {
	font-family: sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	background: #ffffff;
	color: #3D3C3A;
	}

#header {
	margin-right:auto;
	margin-left: auto;
	width: 60%;
	}

.author {
font-size: 120%
}

.date {
font-size: 80%
}

.author {
font-size: 100%
}

#content {
	margin-right:auto;
	margin-left: auto;
	width: 70%;
}

code {
	color: #DF0174;
}

pre:before {
	content: attr(caption);
	font-weight:bold;
	display: block;
	margin-top: 25px;
	margin-bottom: 10px;
	color: green;
	font-weight: 120%;
}
	
#TOC {
	margin-right:auto;
	margin-left: auto;
	width: 60%;
	background: #EBF4FA;
	padding:2%;
	}

a:link {
   color: #0C5B7A;
   text-decoration:none;
}

a:visited {
   color:#EB7E41;
   text-decoration:none;
}

a:hover {
   color:#EB7E41;
   text-decoration:none;
}

h1 {
   font-size:150%;
}

h2 {
   font-size:110%;
}

.foot {
   font-size:75%;
   color:#3D3C3A;
}

p {
   text-indent:2%;
}

blockquote {
border-left: 10px #EBF4FA solid;
padding-left : 2%;
color:#585858;
}

caption {
	margin-top: 25px;
	margin-bottom: 10px;
	color: green;
	font-weight: 120%;
}


table{
border-collapse:collapse;
border-top:2px solid #D8D8D8;
border-bottom:2px solid #D8D8D8;
}

table td{
border-top:1px solid #D8D8D8;
border-bottom:1px solid #D8D8D8;
}

table p{
text-indent: 0px;
}

thead {
background: #D8D8D8;
text-indent: 5%;
}

.references:before {
   font-size:150%;
  color: #0C5B7A;
  content: "Références";
  }

.references {
     background: #EBF4FA;
     padding: 2%;
  }



</style>
